# Lock Dependency Versions
save-exact=true

# Hoist Dependency to the Root node_modules
hoist=true
shamefully-hoist=true

# Use LTE Node version
engine-strict=true
node-version=20.10.0
use-node-version=20.10.0

# Workspace Settings
link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true

# Script Execution Configuration
enable-pre-post-scripts=true
