# Lock Dependency Versions
save-exact=true

# Hoist Dependency to the Root node_modules
hoist=true
shamefully-hoist=true

# Workspace Settings
link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true

# Script Execution Configuration
enable-pre-post-scripts=true

# Enable Provenance Badge on Release
provenance=true
